/*Color Palette
_____________________
#0C1821 - dark blueu black
#1B2A41 - dark blue
#324A5F - lighter blue green
#CCC9DC - lavendar

*/

/*Global styles
______________________________________*/


html {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 62.5%
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding:0;
}

h1, h2 {
    font-family: 'Mukta', sans-serif;
}
h1 {
    font-size: 4rem;
    font-weight:100;
    margin-bottom: 0.5em;
    letter-spacing: 0.35em;
    padding: 0 4rem 0;

}
h2 {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight:100;
    letter-spacing: 0.1rem;
}
h3 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #324A5F;
}
h4 {
    font-size: 1.3rem;
    letter-spacing: 0.8rem;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-bottom: -10px;
}

a {
    color: #324A5F;
    font-weight: 100;

}

.content-wrap {
    max-width: 200rem;
    margin: 0 auto;
    padding: 6rem 5rem;
    overflow: auto;
}
ul, p {
    margin: 0;
    line-height: 4rem;
    font-size: 1.3rem;
    font-weight:100;
}
.uppercase {
    text-transform: uppercase;
}
.backtotop {
    text-align: left;
    color: black;
}




/*Header and Footer styles
______________________________________*/

#contact {
    background: none; /*#0C1821;*/
    color: #324A5F;
    font-size: 2.5em;
    line-height: 2em;
}


header {
    position: relative;
}


.footer {
    text-align: center;
}
.contact-info a {
    margin: 1rem;
    text-decoration: none;
}
.gmail {
    font-size: 0.7em;
}





/* Music Styles
______________________________________*/

.music {

    padding-top: 7rem;  /*account for navigation */
}


.music h3 {
    text-align: left;
    margin: 10px;
    padding-left: 17%;
    font-size: 1.5rem;
    font-weight: 100;
}

.music p {
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
}
.audio {
    width: 75%;
}

@media only screen and (max-width: 700px) {
    .music.first {
    margin-top: 8rem;
}
    .music img {
    width: 100%;
    padding: 1rem;
    margin:  0 auto;
    display: block;

    }
}



/*Code Portfolio Styles
______________________________________*/
.animportfolio {
    height: 70rem;
}
.codeportfolio {
    margin-top: 7rem;  /*account for navigation */
    padding-top: 7rem;  /*account for navigation */
}
.codeportfolio h2 {
    text-align: center;
}

.codeportfolio img {
    width: 100%;
    padding: 1rem;
    margin:  0 auto;
    display: block;

}
.codeportfolio h4 {
    text-align: center;
    font-size: 2rem;
}

.codeportfolio p {
    max-width: 85%;
    text-align: center;
    margin: 0 auto;
}

.codeportfolio table {
    padding:0;
    border-spacing:0;
    border-collapse: collapse;

}
td, th, tr {
    padding:0;
    margin: 0;
    border-collapse: collapse;
}

.codeportfolio .grid {
    overflow-x: hidden;
    overflow-y:hidden;
}


@media only screen and (max-width: 700px) {
    .portfolio .first {
    margin-top: 8rem;
}
    .portfolio img {
    width: 100%;
    padding: 1rem;
    margin:  0 auto;
    display: block;

    }
}

/*Demo, Spiderverse, Spirit styles
______________________________________*/
hr {
    width: 75%;
    margin-bottom: 24px;
    height: 2px;
    background-color: black;
        color: black;
}

#portfolioThreeD {
    margin-top: 7rem;  /*account for navigation */
    padding-top: 7rem;  /*account for navigation */
    text-align: center;
}

#portfolioThreeD img {
    max-width: 70%;
    text-align: center;
}


#portfolioThreeD h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 100;
}


#portfolioThreeD h4 {
    font-size: 17px;
    letter-spacing: 0.2rem;
    font-weight: 100;
}

@media only screen and (max-width: 700px){
   #portfolioThreeD img {
        max-width: 100%;
    }
}
@media only screen and (min-width: 4000px){
   #portfolioThreeD img {
        max-width: 70%;
    }
}


#portfolioThreeD demo h2 {
    font-size: 20px;
}
@media only screen and (max-width: 700px){
   .demo iframe {
        max-width: 100%;
    }
    .nav, .mobile-nav {
        background-color:white;
    }
    .mobile-nav {
        height: 100vh;
        padding-bottom: 5rem;
        overflow-y: scroll;
    }
    .codeportfolio iframe {
        max-width: 100%;
    }
}
