/*Color Palette
_____________________
#0C1821 - dark blueu black
#1B2A41 - dark blue
#324A5F - lighter blue green
#CCC9DC - lavendar

*/

/*Global styles
______________________________________*/

html {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 62.5%;
        overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding:0;
}

h1, h2 {
    font-family: 'Mukta', sans-serif;
}
h1 {
    font-size: 4rem;
    margin-top: 5rem;
    font-weight:100;
    margin-bottom: -0.2em;
    letter-spacing: 0.30em;
    padding: 0 4rem 0;

}
h2 {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight:100;
    letter-spacing: 0.2rem;
}
h3 {
    margin: 0;
    font-size: 1.9em;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #324A5F;
}
h4 {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-bottom: -10px;
}

a {
    color: #324A5F;
    font-weight: 100;

}

.content-wrap {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2rem 5rem 4rem;
    overflow: auto;
}
ul, p {
    margin: 0;
    line-height: 3.9rem;
    font-size: 1.3rem;
    font-weight:100;
}
.uppercase {
    text-transform: uppercase;
}
.backtotop {
    text-align: left;
    color: black;
}
.btn {
    text-decoration: none;
    background: #FCDDBC;
    color: #69585F;
    padding: 1rem;
    display: inline-block;
}



/*Header and Footer styles
______________________________________*/

#contact {
    background: none; /*#0C1821;*/
    color: #324A5F;
    font-size: 2.5em;
    line-height: 2em;
}

header {
    position: relative;
    height: 100vh;
}

.backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.05), rgba(0,0,0,0.09), rgba(0,0,0,0.4)),
        url(../images/f2.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;


}
.backgroundindex h1 {
    color: white;
    text-align: center;
    padding-top: 40vh;

}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer {
    text-align: center;
}
.contact-info a {
    margin: 1rem;
    text-decoration: none;
}
.gmail {
    font-size: 0.7em;
}
.button {
     background-color: #7f9094;
    border: none;
    color: white; /*#0C1821;*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.button:hover {
     background-color: #b3c2c3;
    color: #324A5F;
}
  .bounce {
    position: relative;
      text-align: center;
    left:50%;
    bottom:0;
      margin-top: 0px;
      margin-left: -25px;
    height:50px;
    width:50px;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;

  }
.bounce a{
    text-align: center;
}

  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }

   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }












/*main height*/
.main {
    height: 100vh;
}

/*Introduction
______________________________________*/
.introduction {

    display: block;
    padding-top:7rem;  /*account for navigation */
}

@media only screen and (max-width: 700px) {
        .introduction {
          text-align: center;
        }}




/* Work Section
______________________________________*/
.columns {
    text-align: center;
    display: table;
    width: 100%
}
.columns .colpic {
    max-width: 250px;
}
.col1 {
    display: table-cell;
    max-width: 250px;
   padding-right: 2rem;

}
.col2 {
    display: table-cell;
    max-width: 250px;
}
.col3 {
    display: table-cell;
    max-width: 250px;
    padding-left: 2rem;

}

@media only screen and (max-width: 700px) {
        .backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: /*linear-gradient(rgba(255,255,255,0.2),
        rgba(0,0,0,0.01)),*/
        url(../images/f2.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    }
    .col1, .col2, .col3 {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    .backgroundindex h1 {
    color: white;
    text-align: center;
    padding-top: 40vh;

    }
    .image {
        margin: 0 auto;
        display: inline-block;
        left: 50%;
        float: none;
    }
    .nav, .mobile-nav {
        background-color:white;
    }
    .mobile-nav {
        height: 100vh;
        padding-bottom: 5rem;
        overflow-y: scroll;
    }
}

    @media only screen and (min-width: 3800px) {
        .backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: /*linear-gradient(rgba(255,255,255,0.2),
        rgba(0,0,0,0.01)),*/
        url(../images/environments/f1.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
        }


}
