/*Color Palette
_____________________
#0C1821 - dark blueu black
#1B2A41 - dark blue
#324A5F - lighter blue green
#CCC9DC - lavendar

*/

/*Global styles
______________________________________*/


.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}


html {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size: 62.5%;
        overflow-x: hidden;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding:0;
}
 
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 4rem;
    font-weight:100;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    padding: 0 4rem 0; 

}
h2 {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight:100;
}
h3 {
    margin: 0;
    font-size: 1.6em;
    font-weight: 100;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: #324A5F;
}
h4 {
    font-size: 1.3rem;
    letter-spacing: 0.5rem;
    font-weight: 100;
    text-align: center;
    color: white;
    margin-bottom: -10px;
}
    
a {
    color: #324A5F;
    font-weight: 100;   
}

.content-wrap {
    max-width: 85rem;
    margin: 0 auto;
    padding: 2rem 5rem 4rem;
    overflow: auto;
}
ul, p {
    margin: 0;
    line-height: 3.9rem;
    font-size: 1.3rem;
    font-weight:100;
}
.uppercase {
    text-transform: uppercase;
}
.backtotop {
    text-align: left;
    color: black;
}
.btn {
    text-decoration: none;
    background: #FCDDBC;
    color: #69585F;
    padding: 1rem;
    display: inline-block;
}
    


/*Header and Footer styles
______________________________________*/

#contact {
    background: none; /*#0C1821;*/
    color: #324A5F;
    font-size: 2.5em;
    line-height: 2em;
}

header {
    position: relative;
    height: 100vh;
}

.backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.05), rgba(0,0,0,0.09), rgba(0,0,0,0.4)),
        url(../images/002.png) no-repeat fixed;
    background-size: cover;
    background-position: center;
    

}
.backgroundindex h1 {
    color: white;
    text-align: center;
    padding-top: 40vh;

}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}
    
.footer {
    text-align: center;
}
.contact-info a {
    margin: 1rem;
    text-decoration: none;
}
.gmail {
    font-size: 0.7em;
}
.button {
     background-color: #7f9094;
    border: none;
    color: white; /*#0C1821;*/
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.button:hover {
     background-color: #b3c2c3;
    color: #324A5F;
}
  .bounce {
    position: relative;
      text-align: center;
    left:50%;
    bottom:0;
      margin-top: 0px;
      margin-left: -25px;
    height:50px;
    width:50px;
    -webkit-animation:bounce 1s infinite;
    -moz-animation:bounce 1s infinite;
    -o-animation:bounce 1s infinite;
    animation:bounce 1s infinite;
    
  }
.bounce a{
    text-align: center;
}
  
  @-webkit-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-moz-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @-o-keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }
  
   @keyframes bounce {
    0%       { bottom:0px; }
    50%      { bottom:15px; }
    100%     {bottom:30;}
  }





    
/* Navigation 
______________________________________*/
.nav {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.nav ul {
    margin: 1.15rem 20rem ;
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
}
.nav ul li {
    display: inline-block;
    list-style-type: none;
    letter-spacing: 0.2rem;
    white-space: nowrap;
}
.nav ul li a.list {
    display: block;
    line-height: 1.3rem;
    padding: 1.5rem 2.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    
}
.nav ul li:first-child {
    margin-bottom: 1.rem;
    margin-right: auto;
    display: block;
}
.nav ul li a.logo {
    font-size: 2.2rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav ul li a:hover {
    text-decoration: none;
    color: #83c0ef;
    
}

.dropdown {
        display:inline-block;
}
.dropdown-content {
    background: rgba(255, 255, 255, 0.98);
    min-width: 160px;
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black; 
    padding: 0.3rem 1.9rem 0.8rem 1.9rem;
    text-decoration: none;
    display: block;
    text-align:left;
    font-size: 1.2rem;
}

.dropdown-content a:hover {
    color: #83c0ef;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav ul #icon {
    display: none;
}
.nav ul #icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
  .nav ul li a.list {display: none;}
    
  .nav ul li:first-child {
    margin-left: -11rem;
    display: block;
}
  .nav ul #icon {
    text-decoration: none;
    float: right;
    display: block;
    margin-left: 1rem;
  }
    .responsive ul #icon:hover {
        cursor: pointer;
    }
}


.nav ul li #icon {
    display: none;
}
.nav ul li #icon:hover {
    cursor: pointer;
}


.mobile-nav {
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 7.5rem;
    padding-bottom: 2rem;
}
.mobile-nav  ul {
    padding: 0;
    white-space: nowrap;
}
.mobile-nav  ul li {
    list-style-type: none;
    letter-spacing: 0.2rem;
}
.mobile-nav ul li .list {
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
}
.mobile-nav  ul li a.list {
    display: block;
    line-height: 1.3rem;
    padding: 1.2rem 2.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    
}

.mobile-nav  ul li a:hover {
    text-decoration: none;
    color: #83c0ef;
    
}

.mobile-dropdown {
        display:inline-block;
}
.mobile-dropdown-content {
    min-width: 160px;
    display: none;
}

.mobile-dropdown-content a {
    padding: 0.3rem 1.9rem 0.8rem 1.9rem;
    text-decoration: none;
    display: block;
    text-align:center;
    font-size: 1.2rem;
}

.mobile-dropdown-content a:hover {
    color: #83c0ef;

}

.mobile-dropdown:hover .dropdown-content {
    display: block;
}

.responsive ul #icon {
    text-decoration: none;
    float: right;
    display: inline-block;
    margin-left: 1rem;
}
.responsive ul #icon:hover {
    cursor: pointer;
}


/*main height*/
.main {
    height: 100vh;
}

/*Introduction
______________________________________*/
.introduction {
    margin-top: 10px;
    display: block;
    padding-top:6rem;
}



/* Work Section
______________________________________*/
.columns {
    text-align: center;
    display: table;
    width: 100%
}
.columns .colpic {
    max-width: 250px;
}
.col1 { 
    display: table-cell;
    max-width: 250px;
   padding-right: 2rem;
    
}
.col2 { 
    display: table-cell;
    max-width: 250px;
}
.col3 { 
    display: table-cell;
    max-width: 250px;
    padding-left: 2rem;
    
}

@media only screen and (max-width: 700px) {
        .backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: /*linear-gradient(rgba(255,255,255,0.2),
        rgba(0,0,0,0.01)),*/
        url(../images/skysmall.png) no-repeat fixed;
    background-size: cover;
    }
    .col1, .col2, .col3 { 
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    .backgroundindex h1 {
    color: white;
    text-align: center;
    padding-top: 40vh;

    }
    .image {
        margin: 0 auto;
        display: inline-block;
        left: 50%;
        float: none;
    }
    .nav, .mobile-nav {
        background-color:white;
    }
    .mobile-nav {
        height: 100vh;
        padding-bottom: 5rem;
        overflow-y: scroll;
    }
}

    @media only screen and (min-width: 3800px) {
        .backgroundindex {
    display: inline-block;
    width: 100%;
    height: 100vh;
    font-size: 10rem;
    background: /*linear-gradient(rgba(255,255,255,0.2),
        rgba(0,0,0,0.01)),*/
        url(../images/skylarge.png) no-repeat fixed;
    background-size: cover;
        }
    

}

    
